<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Student Information</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-container">
                        <div class="
                        "><h3>View Student Information</h3></div>
                        <div class="row">
                            <p><strong>Student ID:</strong> <span id="modalStudentIdNum"></span></p>
                        <p><strong>Firstname:</strong> <span id="modalFirstname"></span></p>
                        <p><strong>Middlename:</strong> <span id="modalMiddlename"></span></p>
                        <p><strong>Lastname:</strong> <span id="modalLastname"></span></p>
                        <p><strong>Date of Birth:</strong> <span id="modalDateofBirth"></span></p>
                        <p><strong>Age:</strong> <span id="modalAge"></span></p>
                        <p><strong>Gender:</strong> <span id="modalGender"></span></p>
                        <p><strong>Phone Number:</strong> <span id="modalPhone"></span></p>
                        <p><strong>Email:</strong> <span id="modalEmail"></span></p>
                        <p><strong>Province:</strong> <span id="modalProvince"></span></p>
                        <p><strong>City:</strong> <span id="modalCity"></span></p>
                        <p><strong>Barangay:</strong> <span id="modalBarangay"></span></p>
                        <p><strong>Street Address:</strong> <span id="modalStreet"></span></p>
                        <p><strong>Academic Year:</strong> <span id="modalAcademicYear"></span></p>
                        <p><strong>Department:</strong> <span id="modalDepartment"></span></p>
                        <p><strong>Course:</strong> <span id="modalCourse"></span></p>
                        <p><strong>Year Level:</strong> <span id="modalYearLevel"></span></p>
                        <p><strong>Parent/Guardian's Name:</strong> <span id="modalParentName"></span></p>
                        <p><strong>Parent/Guardian's Address:</strong> <span id="modalParentHome"></span></p>
                        <p><strong>Parent/Guardian's Contact Number:</strong> <span id="modalParentContact"></span></p>
                        <p><strong>Parent/Guardian's Email Address:</strong> <span id="modalParentEmail"></span></p>
                        </div>
                      
                    </div>
               
                </div>
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
