<meta charset="UTF-8">
<title>Sidebar</title>
<link rel="stylesheet" href="/css/sidebar.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div style="" class="wrapper">
    <div class="main--content">
        <div style="" class="header--wrapper">
            <div class="header--title">
                <span style="color: white;font-weight: bold; font-size: 20px">SASO-<span
                        style="color: rgb(255, 255, 255)55, 255, 255);">IMS</span></span>
                <h2 style="color:white;">Dashboard</h2>
            </div>
            <div class="user--info">
                <img src="/lib/guidancelogo.png" alt="">
            </div>
        </div>

        <div class="card-container">
            <h3 class="main--title">Today's data</h3>
            <div class="card--wrapper">
                <div style="background:#3b76ef; color:white;" class="payment--card">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Students
                            </span>
                            <span id="studentCount" class="amount-value"></span>
                        </div>
                        <i style="background-color:darkblue; margin-top: 25px;" class="fas fa-users icon"></i>
                    </div>
                </div>

                <div class="payment--card" style="background-color: #f47e7e; color:white;">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Pending Violations
                            </span>
                            <span id="pendingViolationCount" class="amount-value"></span>
                        </div>
                        <i style="background-color: #ef3e3e; margin-top: 25px;" class="fas fa-clock icon"></i>
                    </div>
                </div>

                <div class="payment--card" style="background-color: #f7a548; color:white;">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Ongoing Violations
                            </span>
                            <span id="ongoingViolationCount" class="amount-value"></span>
                        </div>
                        <i style="background-color: #f87306;" class="fas fa-tasks icon"></i>
                    </div>
                </div>

                <div style="background-color:#21b09c; color:white;" class="payment--card">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Resolved Violations
                            </span>
                            <span id="approvedViolationCount" class="amount-value"></span>
                        </div>
                        <i style="background-color:#188b7c;" class="fas fa-check icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/index.js"></script>
<script src="~/js/logout.js"></script>