<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/infodesign.css">
    <title>Student Information</title>
</head>

<body>
    <div class="container">
        <div class="header--wrapper">
            <div class="header--title">
                <span style="color: white;font-weight: bold; font-size: 20px">SASO-<span
                        style="color: rgb(255, 255, 255)55, 255, 255);">IMS</span></span>
                <h2 style="color:white;">Student Record</h2>
            </div>
            <div class="user--info">
                <img src="/lib/guidancelogo.png" alt="">
            </div>

        </div>
        <div class="form-container">
            <div class="row personal-info">
                <div class="info-group">
                    <h4>Personal Information</h4>
                    <p><strong>Student ID:</strong> <span id="infoStudentIdNum"></span></p>
                    <p><strong>Firstname:</strong> <span id="infoFirstname"></span></p>
                    <p><strong>Middlename:</strong> <span id="infoMiddlename"></span></p>
                    <p><strong>Lastname:</strong> <span id="infoLastname"></span></p>
                    <p><strong>Date of Birth:</strong> <span id="infoBirthdate"></span></p>
                    <p><strong>Age:</strong> <span id="infoAge"></span></p>
                    <p><strong>Gender:</strong> <span id="infoGender"></span></p>
                    <p><strong>Phone Number:</strong> <span id="infoPhone"></span></p>
                    <p><strong>Email:</strong> <span id="infoEmail"></span></p>
                </div>

                <div class="info-group">
                    <h4>Address Information</h4>
                    <p><strong>Province:</strong> <span id="infoProvince"></span></p>
                    <p><strong>City:</strong> <span id="infoCity"></span></p>
                    <p><strong>Barangay:</strong> <span id="infoBarangay"></span></p>
                    <p><strong>Street Address:</strong> <span id="infoStreet"></span></p>
                </div>

                <div class="info-group">
                    <h4>Academic Information</h4>
                    <p><strong>Academic Year:</strong> <span id="infoAcademicYear"></span></p>
                    <p><strong>Department:</strong> <span id="infoDepartment"></span></p>
                    <p><strong>Course:</strong> <span id="infoCourse"></span></p>
                    <p><strong>Year Level:</strong> <span id="infoYearLevel"></span></p>
                </div>

                <div class="info-group">
                    <h4>Guardian Information</h4>
                    <p><strong>Parent/Guardian's Name:</strong> <span id="infoParentName"></span></p>
                    <p><strong>Parent/Guardian's Address:</strong> <span id="infoParentHome"></span></p>
                    <p><strong>Parent/Guardian's Contact Number:</strong> <span id="infoParentContact"></span></p>
                    <p><strong>Parent/Guardian's Email Address:</strong> <span id="infoParentEmail"></span></p>
                </div>
            </div>
        </div>

    </div>

    <script src="~/js/viewstudent.js"></script>
    <script src="~/js/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>


    
</body>

</html>
